.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem{
    flex:1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.75);

}

.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;

}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-style: 14px;
    margin-left: 5px;
    color: rgba(0, 128, 0, 0.714);
}

.featuredIcon.negative{
    color: rgba(216, 64, 64, 0.981);
}

.featuredSub{
    font-size: 15px;
    color: rgba(147, 147, 147, 0.919);
}