.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.75);
}

.chartTitle{
    margin-bottom: 20px;
}